<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambda.web.mappers.MovieMapper">
    <insert id="insertMovie"
            parameterType="com.lambda.web.music.MovieDTO">
        insert rank, title, rank_date into movie
        values (#{rank},#{title},#{rank_date})
    </insert>

    <update id="updateMovie"
            parameterType="com.lambda.web.music.MovieDTO">
        update set title = #{title}
        from movie
        where movie_seq like 'movieSeq'
    </update>

    <delete id="deleteMovie"
            parameterType="com.lambda.web.music.MovieDTO">

    </delete>
    <select id="selectMovies" resultType="Movie">
      select movie_no, seq, title, rank_date
      from users
      where id = #{id}
    </select>
    <select id="selectMovie" resultType="Movie">
      select id, username, password
      from users
      where id = #{id}
    </select>
    <select id="count" resultType="int">
      select id, username, password
      from users
      where id = #{id}
    </select>
</mapper>
