<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamda.web.mappers.MovieMapper">
    <insert id="insertMovie"
            parameterType="com.lamda.web.music.MovieDTO">
        insert seq, title, rank_date into movie
        values (#{seq},#{title},#{rank_date})
        <selectKey resultType="int" keyProperty="movie_no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateMovie"
            parameterType="com.lamda.web.music.MovieDTO">
        update set title = #{title}
        from movie
        where movie_no like #{movieNo}
    </update>

    <delete id="deleteMovie"
            parameterType="com.lamda.web.music.MovieDTO">
        delete from movie where movie_no like #{movieNo}
    </delete>
    <select id="selectMovies" resultType="com.lamda.web.music.MovieDTO"
            parameterType="com.lamda.web.proxy.Pager">
      select movie_no movieNo, seq, title, rank_date rankDate
      from movie
      <if test="searchWord != null">
          where title like '%${searchWord}%'
      </if>
      limit #{rowStart},#{pageSize}

    </select>
    <select id="selectMovie" resultType="com.lamda.web.music.MovieDTO"
            parameterType="string">
       select movie_no movieNo, seq, title, rank_date rankDate
      from movie
      where movie_no = #{value}
    </select>
    <select id="count" resultType="int">
      select count(*)
      from movie
    </select>

</mapper>
